<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.salever.rcp.dbsystem.client.ui.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.salever.rcp.dbsystem.client.ui.intro.Perspective"
            id="org.salever.rcp.dbSystem.client.ui.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.salever.rcp.dbSystem.client.ui.application"
            name="RCP Product">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.salever.rcp.dbsystem.client.ui.intro">
      </intro>
      <introProductBinding
            introId="org.salever.rcp.dbsystem.client.ui.intro"
            productId="org.salever.rcp.dbSystem.client.ui.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.salever.rcp.dbsystem.client.ui.intro"
            content="introContent.xml"
            id="org.salever.rcp.dbSystem.client.ui.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.salever.rcp.dbSystem.client.ui.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.salever.rcp.dbsystem.client.ui.actions.SampleAction"
               icon="icons/sample.gif"
               id="org.salever.rcp.dbsystem.client.ui.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>

</plugin>
