<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.salever.osgi.spring.demo.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.salever.osgi.spring.demo.Perspective"
            id="org.salever.osgi.spring.demo.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.salever.osgi.spring.demo.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.salever.osgi.spring.demo.actions.SampleAction"
               icon="icons/sample.gif"
               id="org.salever.osgi.spring.demo.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.salever.osgi.spring.demo.application"
            name="SpringDemo">
         <property
               name="appName"
               value="SpringDemo">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.salever.rcp.spring.demo.application"
            name="SpringDemo">
         <property
               name="appName"
               value="SpringDemo">
         </property>
      </product>
   </extension>

</plugin>
