<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.salever.rcp.tools.topology_viewer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.salever.rcp.tools.topology_viewer.Perspective"
            icon="icons/editor/network.gif"
            id="com.vire.internal.topology_viewer.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.salever.rcp.tools.topology_viewer.editors.DiagramEditor"
            contributorClass="org.salever.rcp.tools.topology_viewer.actions.DiagramActionbarContributor"
            default="false"
            icon="icons/editor/network.gif"
            id="org.salever.rcp.tools.topology_viewer.editors.DiagramEditor"
            name="NetworkEditor">
      </editor>
      <editor
            class="org.salever.rcp.tools.topology_viewer.editors.TextEditor"
            icon="icons/editor/config.gif"
            id="org.salever.rcp.tools.topology_viewer.editors.TextEditor"
            name="TextEditor">
      </editor>
      <editor
            class="org.salever.rcp.tools.topology_viewer.editors.XmlEditor"
            icon="icons/editor/xml.gif"
            id="org.salever.rcp.tools.topology_viewer.editors.XmlEditor"
            name="XmlEditorPart">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.salever.rcp.tools.topology_viewer.application"
            name="Topology Viewer">
         <property
               name="appName"
               value="Topology Viewer">
         </property>
         <property
               name="windowImages"
               value="icons/window.png">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="Topology Viewer.&#x0A;&#x0A;Build id: 20100508-0001&#x0A;&#x0A;(c) Copyright salever@126.com 2011.  All rights reserved.&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://apache.org/&#x0A;&#x0A;Email:salever@126.com">
         </property>
      </product>
   </extension>


</plugin>
