<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.salever.rcp.tools.springXMLgenerator.contribution1"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu
               label="Spring tools"
               path="additions"
               id="org.salever.rcp.tools.springXMLgenerator.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.salever.rcp.tools.springxmlgenerator.popup.actions.GenerateSpringXMLAction"
               enablesFor="+"
               icon="icons/generateXML.gif"
               id="org.salever.rcp.tools.springXMLgenerator.newAction"
               label="Generate SpringContext XML"
               menubarPath="org.salever.rcp.tools.springXMLgenerator.menu1/group1"
               tooltip="Generate SpringContext XML using selected classes">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.salever.rcp.tools.springXMLgenerator.preferences.springToolsPage"
            class="org.salever.rcp.tools.springxmlgenerator.preferences.SpringXMLGeneratorPage"
            id="org.salever.rcp.tools.springxmlgenerator.preferences.xmlGeneratorPage"
            name="Spring XML Generater Preferences">
      </page>
      <page
            class="org.salever.rcp.tools.springxmlgenerator.preferences.SpringToolsPage"
            id="org.salever.rcp.tools.springXMLgenerator.preferences.springToolsPage"
            name="Spring Tools">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.salever.rcp.tools.springxmlgenerator.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
