<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width = 240" />
<link rel="shortcut icon" href="./devices/resources/images/main/favicon.ico" />
<link rel="icon" href="./devices/resources/images/main/favicon.ico" />
<link rel="apple-touch-icon" href="./devices/resources/images/main/apple-webclip.png" />
<link rel="stylesheet" media="screen" type="text/css" href="./devices/resources/stylesheets/common.css" />
<script src="./devices/resources/javascript/jquery-1.2.5.min.js" type="text/javascript"></script>
<script src="./devices/resources/javascript/jquery.corner.js" type="text/javascript"></script>
<script src="./devices/resources/javascript/application.js" type="text/javascript"></script>
<title>%%%deviceLabel%%% Simulator for %%%id%%%</title>
</head>
<body onload="autoRefresh('./devices?device=%%%deviceName%%%&action=refresh', 1000); $('#page').corner();">
<div id="page">
<div id="header">
<h1>%%%deviceLabel%%%</h1>
</div>
<div id="content">
<div class="box black">
<ul class="nav">
<li><a href="./devices?device=%%%deviceName%%%" name="refresh">Refresh</a></li>
<li><a href="#" onclick="$.get('./devices?device=%%%deviceName%%%&action=reset');return false;" name="all-reset">Reset</a></li>
<li><a href="#" onclick="$.get('./devices?device=%%%deviceName%%%&action=run');return false;" name="all-run">Run-all</a></li>
<li><a href="./devices" name="return">Return</a></li>
</ul>
</div>
